{% extends "index.html" %}

{% block content %}
<!--<div class="container">-->
<div class="container" style="margin: 12rem 4rem; text-align: center;">
    <div class="heading">
        <h1>ДОБРО ПОЖАЛОВАТЬ!📝</h1>
    </div>
<!--    <hr class="w3-border-grey">-->
<!--    <hr class="w3-border-grey" style="margin:auto; width:40%;">-->
    <br>
    <div class="content-body">
        <p class="card-text" id="para">Добро пожаловать в мой <strong><em> блог!</em></strong>
        Flask — фреймворк для создания веб-приложений на языке
            программирования Python, использующий набор инструментов Werkzeug,
            а также шаблонизатор Jinja2. Относится к категории так называемых
            микрофреймворков — минималистичных каркасов веб-приложений,
            сознательно предоставляющих лишь самые базовые возможности.</p>
    </div>
    <br>

    
    <!-- <div class="card" style="border-bottom-left-radius: 50px; border-top-right-radius: 50px; background-color:  #2ec4b6; box-shadow: 10px 15px 10px lightslategray;">
        <div class="card-body" style="color: white;">
            <br>
        </div>
    </div> -->
</div>
{% endblock content %}
