{% extends 'index.html' %}

{% block content %}
<div class="container" style="display: flex;">
    <article class="media" style="display: flex; flex-direction: column;">
        <img class="rounded-circle article-img" style="margin-right: 5px;"
             src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <a class="mr-2"
           href="{{ url_for('users.user_posts', username=post.author.username) }}"
           style="margin: 0 auto">{{ post.author.username }}</a>
    </article>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <small>Опубликовано {{ post.date_posted.strftime('%A, %d %B %Y
                %I:%M %p') }}</small>
            <br>
            <br>
            {% if post.image_file %}
                <div class="form-group">
                     <img style="" src="{{ url_for('static', filename='posts_pics/' + post.image_file) }}">
                </div>
            {% endif %}
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer" style="font-size: 20px;">

            {% if post.author == current_user %}
                <div class="card-footer" style="font-size: 20px;">
                    {% if post.author == current_user %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1"
                       href="{{url_for('posts.update_post', post_id=post.id) }}">Обновить</a>

                    <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                    <input class="submit" type="submit" value="Удалить">
                    </form>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>



            {% if post.comments %}
            {% if post.comments.count() > 0 %}
                <h2>Комментарии</h2>
                <p>{% for comment in post.comments | reverse %}
                    <p>{{ comment.body }}</p>
                    <p><small>Автор: {{ comment.username }}</small>
                        <small>Дата: {{ comment.timestamp.strftime('%A, %d %B %Y %I:%M %p') }}</small></p>

                    {% if comment.username == current_user.username %}
                    <form action="{{ url_for('posts.delete_comment', comment_id=comment.id) }}"
                    method="POST">
                        <input class="submit" type="submit" value="Удалить">
                    </form>
                    {% endif %}
                <hr>
                {% endfor %}</p>
            {% endif %}
            {% endif %}

    <div id='content'>
        <h2>Оставьте комментарий.</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form_settings">
                <p><span>Текст комментария.</span><textarea class="contact"
                                                        name="comment"
                                                        rows="5"></textarea>
                    {% if form.comment.errors %}
                        {% for error in form.comment.errors %}
                            <p style="">{{ error }}</p>
                        {% endfor %}}
                    {% endif %}
                </p>
            <p style=""><span></span><input class="submit" type="submit"
                                            name="submit" value="Сохранить">
            </p>
        </div>
    </form>
</div>


</p>

{% endblock content %}

